#container {
  width: 70%;
  margin: 20px auto;
  border: 8px solid antiquewhite;
  padding: 60px;
  overflow: auto;
  }

body {
  background-color: rgb(7, 7, 7);
}

h1 {
  color: gold;
  background-color : antiquewhite;
  width: 50%;
  font-size: 40px;
  border: solid goldenrod;
}
h2 {
  color: antiquewhite;
}
.links p {
  color: antiquewhite;
}
.links li {
  color: gold;
}